@model BaseProject.Admin.ViewModels.CodeMain.Detail

@{
    ViewBag.SharedFunctionTitle = "代碼主檔維護";
    ViewBag.SharedFunctionName = "刪除";
}

<div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">確認是否要刪除這一筆資料</h3>
        </div>
        <div class="box-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreateBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreateBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastModifyBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastModifyBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastModifyDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastModifyDate)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="刪除" class="btn btn-danger" /> |
                    @Html.ActionLink("回清單", "Index")
                </div>
            }
        </div>
    </div>
</div>
